<div id="account-management">
    <% if (title) { %>
        <h1><%= title %></h1>
    <% } %>

    <h2>Welcome <%= accountData.account_firstname %></h2>
    <%- messages() %>

    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>

    <%- link %>
    <br>
    <p>
        <a href="/feedback" class="hero-button">Leave Feedback</a>
    
        <a href="/feedback/view" class="hero-button">View All Feedback</a>
    </p>
    <h3>Message Center</h3>
    <ul>
        <li class="font-1">You have <%= unreadMsgNum %> unread messages</li>
        <li class="font-1">Go to <a href="/message/">Inbox</a></li>
    </ul>

    <% if (accountData.account_type === "Employee" || accountData.account_type === "Admin") { %>
        <br>
        <div class="inv-management-container">
            <h3>Inventory Management</h3>
            <div><a href="/inv">Manage Inventory</a></div>
        </div>

    <% } %>
</div>
