<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/') } %> <%- messages() %> <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
    
    <p>Confirm Deletion - The delete is permanent.</p>
    
    <div class="form-shape add-inventory">
      <form action="/inv/delete-vehicle" method="post" id="carForm">
        <label
          >Make:<input
            type="text"
            name="inv_make"
            required
            value="<%= locals.inv_make %>"
            readonly
        /></label>
        <label
          >Model:<input
            type="text"
            name="inv_model"
            required
            value="<%= locals.inv_model %>"
            readonly
        /></label>
        <label
          >Year:<input
            type="text"
            name="inv_year"
            required
            pattern="^\d+$"
            minlength="4"
            maxlength="4"
            value="<%= locals.inv_year %>"
            readonly
        /></label>
        <label
          >Price:<input
            type="number"
            name="inv_price"
            required
            value="<%= locals.inv_price %>"
            readonly
        /></label>
        <button type="submit">Delete Vehicle</button>
        <input type="hidden" name="inv_id" <% if(locals.inv_id){%>
        value="<%=locals.inv_id %>" <% } %>>
      </form>
    </div>