<div id="delete-inventory" class="form-container">
    <h1><%= title %></h1>

    <%- messages() %>

    <form action="/inv/delete" method="post">
        <% if (errors ) { %>
            <ul class="notice">
                <% errors.array().forEach(error => { %>
                    <li><%= error.msg %></li>
                <% }) %> 
            </ul>
        <% } %>
        <p class="notice">Confirm Deletion - The deletion is PERMANENT.</p>
        <div>
            <label for="inv_make" class="required">Make</label><br>
            <input type="text" id="inv_make" name="inv_make" minlength="3" placeholder="Min of 3 characters" required value="<%= locals.inv_make %>" readonly>
        </div>
        <div>
            <label for="inv_model" class="required">Model</label><br>
            <input type="text" id="inv_model" name="inv_model" minlength="3" placeholder="Min of 3 characters" required value="<%= locals.inv_model %>" readonly>
        </div>
        
        <div>
            <label for="inv_price" class="required">Price</label><br>
            <input type="number" id="inv_price" name="inv_price" min="0" placeholder="decimal or integer" required value="<%= locals.inv_price %>" readonly>
        </div>
        <div>
            <label for="inv_year" class="required">Year</label><br>
            <input type="number" id="inv_year" name="inv_year" placeholder="4-digit year" min="1000" max="<%= new Date().getFullYear() %>" required value="<%= locals.inv_year %>" readonly>
        </div>

        <div class="submit">
            <input type="submit" name="submit" value="Delete Vehicle">
        </div>
        <div>
            <input type="hidden" name="inv_id"
            <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
            <% } %>>
        </div>
    </form>
</div>