
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/') } %> <%- messages() %> <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
    
    <div class="form-shape add-inventory">
      <form action="/inv/update" method="post" id="carForm">
        <label for="classification_id">Classification</label>
        <%- classificationSelect %>
        <label
          >Make:<input
            type="text"
            name="inv_make"
            required
            value="<%= locals.inv_make %>"
            placeholder="e.g. Toyota"
        /></label>
        <label
          >Model:<input
            type="text"
            name="inv_model"
            required
            value="<%= locals.inv_model %>"
            placeholder="e.g. Corolla"
        /></label>
        <label
          >Year:<input
            type="text"
            name="inv_year"
            required
            pattern="^\d+$"
            minlength="4"
            maxlength="4"
            value="<%= locals.inv_year %>"
            placeholder="e.g 2024"
        /></label>
        <label
          >Description:<textarea
            name="inv_description"
            required
            rows="4"
            cols="50"
            placeholder="Tell me more about the car"
          >
    <%= locals.inv_description %></textarea
          >
        </label>
        <label
          >Image Path:<input
            type="text"
            name="inv_image"
            required
            pattern="\/images\/vehicles\/[a-zA-Z0-9_-]+\.(jpg|jpeg|png|gif)"
            value="<%= locals.inv_image %>"
            title="The path must start with /images/vehicles/ at the beginning followed by the name and ending with the extension (jpg|jpeg|png|gif)"
            placeholder="e.g. /images/vehicles/name-of-the-car.png"
        /></label>
        <label
          >Thumbnail Path:<input
            type="text"
            name="inv_thumbnail"
            required
            pattern="\/images\/vehicles\/[a-zA-Z0-9_-]+\.(jpg|jpeg|png|gif)"
            value="<%= locals.inv_thumbnail %>"
            title="The path must start with /images/vehicles/ at the beginning followed by the name and ending with the extension (jpg|jpeg|png|gif)"
            placeholder="e.g. /images/vehicles/name-of-the-car.png"
        /></label>
        <label
          >Price:<input
            type="number"
            name="inv_price"
            required
            value="<%= locals.inv_price %>"
            placeholder="e.g. 35000"
        /></label>
        <label
          >Miles:<input
            type="number"
            name="inv_miles"
            required
            value="<%= locals.inv_miles %>"
            placeholder="e.g. 180000"
        /></label>
        <label
          >Color:<input
            type="text"
            name="inv_color"
            required
            value="<%= locals.inv_color %>"
            placeholder="e.g. Red"
        /></label>
        <button type="submit">Update Vehicle</button>
        <input type="hidden" name="inv_id" <% if(locals.inv_id){%>
        value="<%=locals.inv_id %>" <% } %>>
      </form>
    </div>
    